body {
    margin: 2px;
    background-color: rgb(255, 255, 255);
}

/*  custom css for positioning */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* end */


.second{
    margin-top: 100px;
}

/* .list{
    justify-content: flex-start;
} */
.inList {
    list-style: none;
    font-weight: bolder;
    margin: 20px 18px;
    padding: 0px 12px;
    font-size: 18px;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 34px;
}

input {
    padding: 6px;
    font-size: 14px;
}

.heading {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
}

.sun,
.temp,
.wind {
    /* margin-top: ; */
    border: 1px solid gray;
    margin: 10px 30px;
    padding: 10px 10px;
    width: 290px;
    height: 180px;
    box-shadow: 6px 5px 10px black;
}

.info {
    margin-top: 12px;
    font-size: 24px;
}

.Child {
    font-size: 50px;
}

.bar {
    background-color: #fab005;
    color: black;
    padding: -10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    margin-top: 2px;
    border: 3px solid black;
    position: fixed;
    top: 0%;
    right: .4%;
    left: .3%;
}

.bar :last-child {
    margin-left: auto;
}

.other_info {
    margin-top: 23px;
}

.aligns2,
.aligns5,
.aligns7 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

li:hover {
    cursor: pointer;
}

.moon {
    /* background-color: #183153; */
    background-color: white;
    border-radius: 100px;
    padding: 2px;
}

button {
    background-color: #fab005;
    border: 1px solid black;
    box-shadow: 2px 3px 2px #183153;
    border-radius: 3px;
    font-size: 15px;
    padding: 2px 7px;
    color: #183153;
}

input {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 3px 2px #183153;
    border-radius: 3px;
}


@media screen and (min-width: 870px) {
    .align {
        flex-direction: row;
    }
}