body{
    margin: 2px;
    background-color: rgb(224, 219, 219);
}
/*  custom css for positioning */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .list{
    justify-content: flex-start;
} */
.inList{
    list-style: none;
    margin:20px 18px;
    padding: 0px 12px;
    font-size: 20px;
}
.align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 44px;
}
h2{
    font-size: 34px;
}
input{
    padding: 6px;
    font-size: 14px;
}
.heading{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
}
.sun , .temp , .wind{
    /* margin-top: ; */
    border: 1px solid gray;
    margin:10px 30px;
    padding: 10px 50px;
    width: 240px;
    height: 180px;
}
.info{
    margin-top: 12px;
    font-size: 24px;
}
.Child{
    font-size: 50px;
}
.bar{
    background-color: black;
    color: white;
}
.other_info{
    margin-top: 23px;
}
.aligns2, .aligns5, .aligns7{
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    color: white;
    text-decoration: none;
}